<div>
  <h2>All Recipes</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input id="searchText" matInput #Search maxlength="256" placeholder="Ex. I need help with..."
      [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
  </mat-form-field>

  <h3>Filtered Recipes</h3>
  <div *ngIf="filteredRecipes.length > 0">
    <mat-card *ngFor="let recipe of filteredRecipes" class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{recipe.recipeName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>{{ recipe.recipeType }}</p>
        <p>{{recipe.recipeCategory }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/recipes', recipe._id]">View Details</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="filteredRecipes.length === 0">
    <p>No recipes found.</p>
  </div>
</div>