<div class="body">
  <div class="container">
    <div *ngIf="recipes.length">
      <div class="card" *ngFor="let recipes of recipes">
        <img src="image-placeholder.jpg" alt="Classic Baguette">
        <div class="card-content">
          <p> <a [routerLink]="['/recipes', recipes._id]">{{ recipes.recipeName }}</a> </p>
          <p>{{ recipes.recipeDescription }}</p>
          <p>{{ recipes.recipeDuration }}</p>
          <p>{{ recipes.recipeImg }}</p>
          <p>{{ recipes.recipeDirections }}</p>
          <p>{{ recipes.recipeCategory }}</p>
          <p>{{ recipes.recipeType }}</p>
          <p>{{ recipes.recipeIngredients }}</p>
        </div>
      </div>
      <div *ngIf="!recipes.length">
        <p>No recipes available.</p>
      </div>

    </div>
  </div>
</div>