<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Login</h2>
                <form method="POST" id="log">
                    <div>
                        <div class="container">
                            <input required="" type="text" name="text" class="input">
                            <label class="label">Email*</label>
                        </div>

                        <div class="container">
                            <input required="" type="password" name="text" class="input">
                            <label class="label">Password* </label>
                        </div>
                        <div class="bt">
                            <button class="animated-button">
                                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                    </path>
                                </svg>
                                <span class="text">Login</span>
                                <span class="circle"></span>
                                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                    </path>
                                </svg>
                            </button>

                        </div>

                        <p class="p"> Dont have an account !!<a href=""> Sign up</a></p>

                    </div>


                </form>
            </div>
        </div>
    </div>
</div>