<div class="wrapper wrapper--w960">
    <div class="card card-2">
        <div class="card-heading"></div>
        <div class="card-body">
            <h2 class="title">Login</h2>
            <form (ngSubmit)="loginUser()" id="log" #loginForm="ngForm">
                <div>
                    <!-- Email Input -->
                    <div class="container">
                        <input type="" name="email" class="input" [(ngModel)]="loginData.email" #email="ngModel">
                        <label class="label">Email*</label>
                        <!-- Display error message for email field -->
                        <div *ngIf="email.touched && email.invalid" class="error-message">
                            <small *ngIf="email.errors?.['required']">Email is required</small>
                            <small *ngIf="email.errors?.['email']">Please enter a valid email</small>
                        </div>
                    </div>

                    <!-- Password Input -->
                    <div class="container">
                        <input type="password" name="password" class="input" [(ngModel)]="loginData.password"
                            #password="ngModel">
                        <label class="label">Password*</label>
                        <!-- Display error message for password field -->
                        <div *ngIf="password.touched && password.invalid" class="error-message">
                            <small *ngIf="password.errors?.['required']">Password is required</small>
                            <small *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</small>
                        </div>
                    </div>

                    <!-- Error Message -->
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>

                    <!-- Submit Button -->
                    <div class="bt">
                        <button class="animated-button" [disabled]="loginForm.invalid">
                            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                            <span class="text">login</span>
                            <span class="circle"></span>
                            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                        </button>
                    </div>

                    <!-- Sign Up Link -->
                    <p class="p">Don't have an account? <a routerLink="/signup">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>