<div class="gallery-area fix">
  <!-- Tabs Navigation -->
  <div class="container">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-vegetarian-tab" data-bs-toggle="tab" href="#nav-vegetarian"
          role="tab" aria-controls="nav-vegetarian" aria-selected="true">Vegetarian</a>
        <a class="nav-item nav-link" id="nav-lunch-tab" data-bs-toggle="tab" href="#nav-lunch" role="tab"
          aria-controls="nav-lunch" aria-selected="false">Normal</a>
        <a class="nav-item nav-link" id="nav-breakfast-tab" data-bs-toggle="tab" href="#nav-breakfast" role="tab"
          aria-controls="nav-breakfast" aria-selected="false">pescatarian</a>
        <a class="nav-item nav-link" id="nav-dinner-tab" data-bs-toggle="tab" href="#nav-dinner" role="tab"
          aria-controls="nav-dinner" aria-selected="false">streetfood</a>
      </div>
    </nav>
  </div>

  <!-- Tabs Content -->
  <div class="tab-content container-fluid p-0" id="nav-tabContent">
    <!-- Vegetarian Tab -->
    <div class="tab-pane fade show active" id="nav-vegetarian" role="tabpanel" aria-labelledby="nav-vegetarian-tab">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of vegetarian">
          <div class="gallery-box" id="div">
            <img [src]="item.image" alt="{{ item.name }}" class="img-fluid">
            <div class="g-caption text-center" id="div">
              <h4>{{ item.name }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lunch Tab -->
    <div class="tab-pane fade" id="nav-lunch" role="tabpanel" aria-labelledby="nav-lunch-tab">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of lunch">
          <div class="gallery-box">
            <img [src]="item.image" alt="{{ item.name }}" class="img-fluid">
            <div class="g-caption text-center">
              <h4>{{ item.name }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Breakfast Tab -->
    <div class="tab-pane fade" id="nav-breakfast" role="tabpanel" aria-labelledby="nav-breakfast-tab">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of breakfast">
          <div class="gallery-box">
            <img [src]="item.image" alt="{{ item.name }}" class="img-fluid">
            <div class="g-caption text-center">
              <h4>{{ item.name }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dinner Tab -->
    <div class="tab-pane fade" id="nav-dinner" role="tabpanel" aria-labelledby="nav-dinner-tab">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of dinner">
          <div class="gallery-box">
            <img [src]="item.image" alt="{{ item.name }}" class="img-fluid">
            <div class="g-caption text-center">
              <h4>{{ item.name }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
