<div>
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div id="log">
                                <a href="index.html"><img src="./img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a routerLink="/">Home</a></li>
                                            <li><a [routerLink]="['/recipes']">ALL post</a></li>
                                            <li><a [routerLink]="['/create']">Creat post</a></li>
                                            <li *ngIf="currentUserRole === 'admin'"><a routerLink="/admin">Admin
                                                    Dashboard</a></li>
                                            <li></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="d-lg-block ">

                                </div>

                                <div class="div">
                                    <label class="popup">
                                        <input type="checkbox" />
                                        <div tabindex="0" class="burger">
                                            <a [routerLink]="['/profile']">
                                                <svg viewBox="0 0 24 24" fill="white" height="20" width="20"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>

                                    </label>

                                    <button (click)="logout()" class="Btn">

                                        <div class="sign"><svg viewBox="0 0 512 512">
                                                <path
                                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                                                </path>
                                            </svg></div>

                                        <div class="text">Logout</div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header End -->
    </header>
</div>