
<div>
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="./img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="d-lg-block ">

                                </div>
                                <p style="cursor:zoom-in"
                                    onclick="document.getElementById('modal01').style.display='block'"
                                    class="btn btn-primary">Cerate</p>

                                <div id="modal01" class="w3-modal">
                                    <span class="w5-button w3-red w3-xxlarge w3-display-topright"
                                        onclick="document.getElementById('modal01').style.display='none'">&times;</span>

                                    <div class=""></div>
                                </div>

                                <!-- <div id="modal02" class="w3-modal">
                                        <span class="w5-button w3-red w3-xxlarge w3-display-topright"
                                            onclick="document.getElementById('modal02').style.display='none'">&times;</span>

                                        <div class="mt-5 mb-0"><app-login></app-login>
                                        </div>
                                    </div> -->
                            </div>
                        </div>

                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

<!-- Header End -->
</header>
</div>