<p>chow-one works!</p>
<div class="div">
    <div class="img">
        <img src="./img/gallery/food/StockCake-Festive_Gingerbread_Joy_1734986975.jpg" style="width:50%">

        <div>
            <div>
                <label class="label">RecipeName*</label>

            </div>
            <div>
                <label class="label">RecipeIngredients* </label>
            </div>
            <div>
                <label class="label">RecipeDuration* </label>
            </div>
            <div>
                <label>RecipeDescription* </label>
            </div>
            <div>
                <label for="">RecipeType</label>
            </div>
            <div>
                <label>RecipeCategory</label>
            </div>
            <div>
                <input type="text">
                <button></button>
            </div>

        </div>
    </div>
</div>