    <app-navbar></app-navbar>
    <br><br><br>
    <div class="wrapper wrapper--w960 mt-5">
    <div class="card card-2">
        <div class="card-heading"></div>
        <div class="card-body">
        <h2 class="title">Create Recipe</h2>
        <form id="log" (ngSubmit)="addrecipe()">
            <!-- Recipe Name -->
            <div class="container">
            <input
                type="text"
                [(ngModel)]="newRespi.recipeName"
                name="recipeName"
                class="input"
                placeholder=""
                required
            />
            <label class="label">Recipe Name*</label>
            <div *ngIf="errorMessage.recipeName" class="error">
                {{ errorMessage.recipeName.message }}
            </div>
            </div>

            <!-- Recipe Duration -->
            <div class="container">
            <input
                type="text"
                placeholder=""
                name="recipeDuration"
                [(ngModel)]="newRespi.recipeDuration"
                class="input"
                required
            />
            <label class="label">Recipe Duration*</label>
            <div *ngIf="errorMessage.recipeDuration" class="error">
                {{ errorMessage.recipeDuration.message }}
            </div>
            </div>

            <!-- Recipe Directions -->
            <div class="container">
            <label>Recipe Directions*</label>
            <textarea
                name="recipeDirections"
                [(ngModel)]="newRespi.recipeDirections"
                id=""
                required
            ></textarea>
            <div *ngIf="errorMessage.recipeDirections" class="error">
                {{ errorMessage.recipeDirections.message }}
            </div>
            </div>
            <div class="container">
                <label>Recipe Description*</label>
                <textarea
                    name="recipeDescription"
                    [(ngModel)]="newRespi.recipeDescription"
                    id=""
                    required
                ></textarea>
                <div *ngIf="errorMessage.recipeDescription" class="error">
                    {{ errorMessage.recipeDescription.message }}
                </div>
                </div>
            <br><br>
            <!-- Recipe Category -->
            <div class="container">
            <select
                name="recipeCategory"
                [(ngModel)]="newRespi.recipeCategory"
                id=""
                placeholder="Recipe Category"
            >
                <option value="Vegan">Vegan</option>
                <option value="Fruitarian">Fruitarian</option>
                <option value="Omnivores">Omnivores</option>
                <option value="Carnivores">Carnivores</option>
                <option value="Vegetarians">Vegetarians</option>
                <option value="Halal">Halal</option>
            </select>
            </div>

            <!-- Recipe Type -->
            <div class="container">
            <select
                name="recipeType"
                [(ngModel)]="newRespi.recipeType"
                id=""
                placeholder="Recipe Type"
            >
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snacks">Snacks</option>
            </select>
            </div>

            <!-- Ingredients -->
            <div class="container">
                <p-multiselect [options]="Ingredients" name="recipeIngredients" [(ngModel)]="ingredients" optionLabel="name" placeholder="Select ingredients" [maxSelectedLabels]="3" styleClass="w-full md:w-80" />
            </div>

            <!-- Recipe Image -->
            <div class="container">
            <input
                type="file"
                name="recipeImg"
                class="input"
                (change)="onFileSelected($event)"
            />
            </div>

            <!-- Submit Button -->
            <div class="bt">
            <button class="animated-button" type="submit">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
                </svg>
                <span class="text">Create</span>
                <span class="circle"></span>
            </button>
            </div>
        </form>
        </div>
    </div>
    </div>
