    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-body">
                <h2 class="title"> Edit your information</h2>
                <form method="POST" id="for">
                    <div class="div">
                        <div class="container">
                            <input required="" type="text" name="text" class="input"  placeholder="">
                            <label class="label">First Name*</label>
                        </div>
                        <div class="container">
                            <input required="" type="text" name="text" class="input"  placeholder="">
                            <label class="label">Last Name*</label>
                        </div>
                    </div>
                    <div class="row row-space " id="row">
                            <div class="container">
                                <input required="" type="text" name="text" class="input" placeholder="">
                                <label class="label">Email*</label>
                        </div>
                       
                    </div>
                    <div>
                        <div class="container">
                            <input required="" type="password" name="text" class="input" placeholder="">
                            <label class="label"> Password*</label>
                        </div>


                        <div class="container">
                            <input required="" type="password" name="text" class="input" placeholder="">
                            <label class="label"> Confirm password*</label>
                        </div> 
                       
                    </div> 
                    <div class="container">
                        <input class="form-control" type="file" id="formFile">
                    </div> 
                    <br>

                        <div class ="bt">
                        <button class="animated-button">
                            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                            <span class="text">Edit </span>
                            <span class="circle"></span>
                            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                        </button>
                    </div>
                  
                </form>
            </div>
            <div class="card-heading"></div>
        </div>
    </div>
