<div id="chat">
  <h2>Chat with </h2> <!-- Display the contact's name -->
  <div id="messages">
    <div *ngFor="let msg of messages" class="message" 
      [ngClass]="{
        'sender': message.senderId === msg.sender_id, 
        'receiver': message.senderId !== msg.sender_id
      }">
      <p id="mesg">{{ msg.message }}</p>
    </div>
  </div>

  <form id="messageForm" (ngSubmit)="addMessage()">
    <input id="messageInput" name="message" [(ngModel)]="message.message" type="text" required>
    <button type="submit" [disabled]="loading">Send</button>
  </form>
</div>
