
<div class="continar">
    <div class="sidebar">
        <div class="contact">
            <div class="avatar online"></div>
            <div class="contact-info">
                <a href="/messages/"><h4></h4> </a> 
            </div>
        </div>
    </div>
    <div id="chat">
        <h2>Chat with </h2>
        <div id="messages">
    <div class="message sender receiver "></div>
</div>
<div id="messages"></div>
<form id="messageForm" >
    <input id="messageInput" name="message" type="text" required>
    <button type="submit">Send</button>
</form>
</div>
</div>