<app-navbar></app-navbar>
<br><br><br>
<div class="mt-3" id="div">
    <section class="">
        <div class="div d-flex justify-content-center flex-column align-items-center">
            <div class="profile-picture"></div>
            <div class="profile-info">
                <div class="username-section">
                    <div *ngIf="currentUser">
                        <h2 class="styled-header">{{currentUser.firstName}} {{currentUser.lastName}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Highlights Section -->
<section class="highlights">
    <div class="d-flex justify-content-center align-items-center gap-2">
        <div *ngFor="let user of conversations" class="highlight">
            <a style="text-decoration: none;" [routerLink]="['/chat', user._id]">
                <p>{{user.firstName}} {{user.lastName}}</p>
            </a>
        </div>
    </div>
</section>
<!-- Posts Section -->
<section class="posts-section">
    <div *ngIf="userRecipes.length > 0">
        <div class="recipe-container">
            <div *ngFor="let recipe of userRecipes" class="recipe-card">
                <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>{{ recipe.recipeName }}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="http://localhost:8000/uploads/{{recipe.recipeImg}}" alt="">
                    <mat-card-content>
                        <div>
                            <p> <strong>Duration:</strong> {{ recipe.recipeDuration }}</p>
                            <p> <strong>Type:</strong> {{ recipe.recipeType }}</p>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button [routerLink]="['/recipes', recipe._id]">View Details</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div *ngIf="userRecipes.length === 0">
            <p>No recipes found.</p>
        </div>
    </div>
</section>