<div>
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../img/logo/logo2_footer.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="./img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="/recipes">All Recipes</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="d-lg-block ">
                                    <button class="btn btn-danger" (click)="logout()"
                                        *ngIf="isLoggedIn()">Logout</button>
                                </div>
                                <p *ngIf="!isLoggedIn()" style="cursor:zoom-in"
                                    onclick="document.getElementById('modal01').style.display='block'"
                                    class="btn btn-primary">login</p>

                                <div id="modal01" class="w3-modal">
                                    <span class="w5-button w3-red w3-xxlarge w3-display-topright"
                                        onclick="document.getElementById('modal01').style.display='none'">&times;</span>

                                    <div class="mt-5 mb-0"><app-login></app-login> </div>
                                </div>

                                <!-- <div id="modal02" class="w3-modal">
                                        <span class="w5-button w3-red w3-xxlarge w3-display-topright"
                                            onclick="document.getElementById('modal02').style.display='none'">&times;</span>

                                        <div class="mt-5 mb-0"><app-login></app-login>
                                        </div>
                                    </div> -->
                            </div>
                        </div>

                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header End -->
    </header>

    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We belive good food offer great
                                        smile</h1>
                                    <!-- Hero-btn -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--? About Area Start -->
        <div class="about-low-area section-padding30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <h2> Welcome to Cook Me – Your Personal Recipe Matchmaker!!</h2>
                            </div>
                            <p>
                                Ever opened your fridge or pantry to find a handful of random ingredients—some half-used
                                vegetables, a can of beans, a bottle of soy sauce—and wondered, What can I cook with
                                this? Maybe you’re living alone, Or perhaps you’re a busy university
                                student,
                                Whether you're a newlywed navigating the art of cooking together or simply someone who
                                wants to make the most out of their groceries, [Website Name] is here to help! Enter
                                your ingredients, and we’ll transform them into simple, delicious recipes tailored to
                                your taste and skill level.

                                No more waste, no more stress—just great food from what you already have. Let’s get
                                cooking!
                                .</p>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">

                            <img src=" ../img/gallery/cooke.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? gallery Products Start -->
        <app-gallery></app-gallery>
        <div class="about-area2 section-padding30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="../img/gallery/food/StockCake-Couples_Cooking_Together_1734955057.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-65">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <h2>Welcome to Cook Me!</h2>
                            </div>
                            <p class="pera-top">Have a fridge full of ingredients but no idea what to make? [Cook ME] is
                                here to save the day. We take your available ingredients and turn them into
                                mouth-watering recipes tailored to your taste and preferences. </p>

                            <div class="mb-65 pera-bottom">
                                <p>🌟 Instant Recipe Generation</p>
                                <p>Effortlessly create dishes using the ingredients you already have. No more food waste
                                    or last-minute grocery runs!</p>
                                <p>💬 Empowering Community</p>
                                <p>Join a vibrant community of food enthusiasts. Share your culinary creations, learn
                                    from others, and swap tips for better cooking.</p>
                                <p>🌟 Instant Recipe Generation</p>
                                <p>Effortlessly create dishes using the ingredients you already have. No more food waste
                                    or last-minute grocery runs!</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-2 Area End -->
        <!--? Booking Room Start-->
    </main>
    <app-contacte></app-contacte>
</div>